{% extends "template.html" %}
{% block content %}

<div class="render-container">
<form id="render-form">
<canvas id="canvas" width="800" height="600"></canvas>

<script src="{{ url_for('static',filename='js/vector.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='js/utils.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='js/ray.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='js/camera.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='js/material.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='js/sphere.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static',filename='js/simulation.js') }}" type="text/javascript" charset="utf-8"></script>
</form>
</div>

{% endblock %}