<title>DataBase</title>

<form action="" method="post">

<h1/>This is database: {{ form.database.name }}</h1>

<ul/>
    {% for table in form.database.tables %}
    <li/>
        <a href={{ url_for('table', database = form.database.name, table = table.name) }}>{{ table.name }}</a> 
        <input type="checkbox" name="selected_table" value ="{{ table.name }}">
    </li>
    {% endfor%}
</ul>

<input name = "submit_button" type="submit" value="Merge selected tables">
<input name = "submit_button" type="submit" value="Delete selected tables">
</form>