<title>Main</title>

<form action="" method="post">

<h1/>All databases on server</h1>

<ul/>
{% for database in form.databases %}
    <li/>
        <a href={{ url_for('database', database = database) }}>{{ database }}</a> 
        <input type="checkbox" name="selected_databases" value ="{{ database }}">
    </li>
{% endfor%}
</ul>

<a href = "/newdatabase"><button type="button" value="call_flask_funtion">New DataBase</button>
<input name = "submit_button" type="submit" value="Delete selected databases">
</form>