<title>New Table</title>

<script language="JavaScript">
function showInterval(divId, element)
{
    document.getElementById(divId).style.display = ((element.value == 'realinvl') ? 'block' : 'none');
}
</script>

<form action="" method="post">

<label for="name"><b>Name</b></label>
<input type="text" placeholder="Enter Name" name="table_name" value= {{ form.table.name }}>
<br>

{% for column in form.table.columns %}
{{ column.header }} {{ column.type }} {% if column.optionalInfo %} {{ column.optionalInfo[1] }} {% endif %}
<br>
{% endfor %}
<hr>

<label for="column_header"><b>Column header</b></label>
<input type="text" placeholder="Enter header" name="column_header">
<br>

<label for="column_type"><b>Column type</b></label>
<select name="column_type" onchange="showInterval('interval_div', this);">
<option selected value='integer'>Integer</option>
<option value='real'>Real</option>
<option value='string'>String</option>
<option value='realinvl'>RealInvl</option>
<option value='char'>Char</option>
<option value='picture'>Picture</option>
</select>
<br>

<div id = "interval_div" style="display: none;">
<label for="bottom"><b>Bottom:</b></label>
<input type="number" step = "any" placeholder="Enter bottom" name="bottom">
<br>
<label for="top"><b>Top:</b></label>
<input type="number" step = "any" placeholder="Enter top" name="top">
</div>
<br>

<input name = "submit_button" type="submit" value="Add column">
<hr>

<input name = "submit_button" type="submit" value="Create">

</form>