<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center
}
th, td {
  padding: 15px;
}
th {
    font-size: 200%
}
</style>
</head>

<title>Table</title>

<form action="" method="post">
{{ form.integer_field }}
<h1/>This is table: {{ form.table.name }}</h1>
    <div>
        <table style="width:100%">
            <thead>
                <tr>
                    {% for column in form.table.columns %}
                    <th> {{ column.header }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in form.table.rows %}
                <tr>
                    {% for cell in row %}
                            {% if cell.type == 'integer' %}
                            <td><input type = 'number' value = {{ cell.data }}></td>
                            {% endif %} 
                            {% if cell.type == 'real' %}
                            <td><input type = 'number' step = 'any' value = {{ cell.data }}></td>
                            {% endif %} 
                            {% if cell.type == 'string' %}
                            <td><input type = 'text' value = {{ cell.data }}></td>
                            {% endif %} 
                            {% if cell.type == 'char' %}
                            <td><input type = 'text' maxlength = 1 value = {{ cell.data }}></td>
                            {% endif %} 
                            {% if cell.type == 'realinvl' %}
                            <td><input type = 'number' min = {{ cell.optionalInfo[1][0] }} max = {{ cell.optionalInfo[1][1] }} value = {{ cell.data }}></td>
                            {% endif %} 
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</form>